*{
    box-sizing: border-box;
}

.main-section-accesosDirectos{
    display: none;
    max-width: 1200px;
    margin: auto;
}

img{
    width: 300px;
}

.accesoDirecto{
    position: relative;
    border: 2px #2382F1 solid;
    border-radius: 20px;
}

.accesoDirecto__titulo{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}


@media(min-width: 481px){

    
}

@media(min-width: 820px){

    .main-section-accesosDirectos{

        display: block;
    }

    .main-section-accesosDirectos-titulos{
        margin: 20px;
    }

    .main-section-accesosDirectos-contenedor{
        display: flex;
        flex-wrap: wrap;
    }

    .main-section-accesosDirectos-contenedor-imagen{
        width: 120px;
        height: 120px;
        margin: 10px;
        margin-bottom: 50px;
        justify-content: center;
    }
   
}

@media(min-width: 1280px){

}