<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maquinas 2023 - Alta Dependencia</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main-section-accesosDirectos.css">
    <link rel="stylesheet" href="/css/altaDependencia.css">

    <script src="https://kit.fontawesome.com/b41aef2bcc.js" crossorigin="anonymous"></script>
</head>
<body>

    <%- include ('./partials/header.ejs') %>
    
    <main>
        
        <%- include('./partials/accesosDirectos.ejs') %>

        <form action="#" method="POST" class="main-form-contenedor">
            <h2>ALTA DE DEPENDENCIA </h2>
            <div>
                <label for="codigo" name="codigoDependencia" class="main-form-contenedor-label">CODIGO DEPENDENCIA</label>
                <input type="text" class="main-form-contenedor-input">
            </div>
            <div>
                <label for="" class="main-form-contenedor-label">DEPENDENCIA</label>
                <input type="text" class="main-form-contenedor-input">
            </div>
            <div>
                <label for="" class="main-form-contenedor-label">UBICACION</label>
                <input type="text" class="main-form-contenedor-input">
            </div>
            <div>
                <button type="submit">CREAR</button>
                <button type="reset">BORRAR</button>
            </div>

        </form>
        
    </main>
</body>
</html>