<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maquinas 2023 - Alta Dependencia</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main-section-accesosDirectos.css">
    <link rel="stylesheet" href="/css/altaDependencia.css">

    <script src="https://kit.fontawesome.com/b41aef2bcc.js" crossorigin="anonymous"></script>
</head>
<body>

    <%- include ('./partials/header.ejs') %>
    
    <main>
        
        <%- include('./partials/accesosDirectos.ejs') %>

        <form action="/dependencias/alta" method="POST" class="main-form-contenedor">
            <h1>ALTA DE DEPENDENCIA </h1>
            <div>
                <label for="codigo" class="main-form-contenedor-label">CODIGO DEPENDENCIA</label>
                <input type="text" class="main-form-contenedor-input" name="codigoDependencia">
            </div>
            <div>
                <label for="" class="main-form-contenedor-label">DEPENDENCIA</label>
                <input type="text" class="main-form-contenedor-input" name="dependencia">
            </div>
            <div>
                <label for="" class="main-form-contenedor-label">UBICACION</label>
                <label for="">Piso: </label>
                <select name="piso">
                    <option value="Subsuelo">Subsuelo</option>
                    <option value="Planta baja">Planta baja</option>
                    <option value="1er Piso">1er Piso</option>    
                    <option value="2do Piso">2do Piso</option>
                    <option value="3er Piso">3er Piso</option>
                    <option value="4to Piso">4to Piso</option>
                    <option value="5to Piso">5to Piso</option>
                    <option value="6to Piso">6to Piso</option>
                    <option value="7mo Piso">7mo Piso</option>
                    <option value="8vo Piso">8vo Piso</option>
                    <option value="9no Piso">9no Piso</option>
                </select>
                <label for="">Lado: </label>
                <select name="lado">
                    <option value="rio">Río</option>
                    <option value="retiro">Retiro</option>
                    <option value="medio">Medio</option>    
                </select>
            </div>
            <div>
                <button type="submit">CREAR</button>
                <button type="reset">BORRAR</button>
            </div>

        </form>
        
    </main>
</body>
</html>