<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maquinas 2023 - Alta Dependencia</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main-section-accesosDirectos.css">
    <link rel="stylesheet" href="/css/altaDependencia.css">

    <script src="https://kit.fontawesome.com/b41aef2bcc.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header-contenedor">
        <div class="header-hijo-superior">
            <div class="header-hijo-superior-izquierda">
                <img class="header-hijo-superior-izquierda-escudo" src="/images/escudoPJN.jpg" alt="Escudo Poder Judicial de la Nación">
                <div class="header-hijo-superior-izquierda-titulos">
                    <h2 class="titulos">MAQUINAS</h2>
                    <h3 class="titulos">Centro de Cómputos</h3>
                    <h4 class="titulos">Tribunales de Comodoro Py</h4>
                </div>
            </div>
            <div class="header-hijo-superior-derecha">
                <h2>Cristian Ezequiel Villafañe</h2>
                <button type="submit">SALIR</button>
            </div>
        </div>
        <div class="header-hijo-inferior">   
            <nav class="header-hijo-inferior-navegacion">
                <ul class="header-hijo-inferior-navegacion-listado">
                    <li>Incidentes</li>
                    <li>Equipamiento</li>
                    <li>Guía Telefónica</li>
                </ul>
            </nav>
        </div>   
        <div class="hamburgueza-contenedor">
            <i class="fa-solid fa-bars hamburgueza"></i>    
        </div>
    </header>
    <main>
        <section class="main-section-accesosDirectos">
            <h2 class="main-section-accesosDirectos-titulos">ACCESOS DIRECTOS</h2>
            <div class="main-section-accesosDirectos-contenedor">
                <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu1.jpg" alt="imagen1">
                <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu2.jpg" alt="imagen2">
                <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu3.jpg" alt="imagen3">
                <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu4.jpg" alt="imagen4">
                <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu5.jpg" alt="imagen5">
                <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu6.jpg" alt="imagen6">
            </div>
        </section>

        <form action="#" method="POST" class="main-form-contenedor">
            <h2>ALTA DE DEPENDENCIA </h2>
            <div>
                <label for="codigo" name="codigoDependencia" class="main-form-contenedor-label">CODIGO DEPENDENCIA</label>
                <input type="text" class="main-form-contenedor-input">
            </div>
            <div>
                <label for="" class="main-form-contenedor-label">DEPENDENCIA</label>
                <input type="text" class="main-form-contenedor-input">
            </div>
            <div>
                <label for="" class="main-form-contenedor-label">UBICACION</label>
                <input type="text" class="main-form-contenedor-input">
            </div>
            <div>
                <button type="submit">CREAR</button>
                <button type="reset">BORRAR</button>
            </div>

        </form>
    </main>
</body>
</html>