<section class="main-section-accesosDirectos">
    <h2 class="main-section-accesosDirectos-titulos">ACCESOS DIRECTOS</h2>
    <div class="main-section-accesosDirectos-contenedor">
        <a href="/incidentes/alta"><img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu1.jpg" alt="imagen1"></a>
        <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu2.jpg" alt="imagen2">
        <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu3.jpg" alt="imagen3">
        <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu4.jpg" alt="imagen4">
        <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu5.jpg" alt="imagen5">
        <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu6.jpg" alt="imagen6">
    </div>
</section>