<section class="main-section-accesosDirectos">
    <h2 class="main-section-accesosDirectos-titulos">ACCESOS DIRECTOS</h2>
    <div class="main-section-accesosDirectos-contenedor">
        <a href="/incidentes/alta">
            <article class="accesoDirecto">
                <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu1.jpg" alt="imagen1">
                <p class="accesoDirecto__titulo">ALTA DE INCIDENTE</p>
            </article>    
        </a>
        <a href="/usuarios/alta">
            <article class="accesoDirecto">
                <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu2.jpg" alt="imagen2">        
                <p class="accesoDirecto__titulo">ALTA DE USUARIO</p>
            </article> 
        </a>
        <a href="/usuarios/alta">
            <article class="accesoDirecto">
                <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu3.jpg" alt="imagen3">
                <p class="accesoDirecto__titulo">CREAR UNA DEPENDENCIA</p>
            </article>
        </a>
        <a href="/usuarios/alta">
            <article class="accesoDirecto">
                <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu4.jpg" alt="imagen4">
                <p class="accesoDirecto__titulo">GUIA TELEFONICA</p>
            </article>
        </a>
        <a href="/usuarios/alta">
            <article class="accesoDirecto">
                <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu5.jpg" alt="imagen5">
                <p class="accesoDirecto__titulo">HABILITACIONES INTERNET</p>
            </article>
        </a>
        <a href="/usuarios/alta">
            <article class="accesoDirecto">
                <img class="main-section-accesosDirectos-contenedor-imagen" src="/images/accesosDirectos/compu6.jpg" alt="imagen6">
                <p class="accesoDirecto__titulo">EQUIPAMIENTO INSTALADO</p>
            </article>    
        </a>
    </div>
</section>