<header class="header-contenedor">
    <div class="header-hijo-superior">
        <div class="header-hijo-superior-izquierda">
            <img class="header-hijo-superior-izquierda-escudo" src="/images/escudoPJN.jpg" alt="Escudo Poder Judicial de la Nación">
            <div class="header-hijo-superior-izquierda-titulos">
                <h2 class="titulos">MAQUINAS</h2>
                <h3 class="titulos">Centro de Cómputos</h3>
                <h4 class="titulos">Tribunales de Comodoro Py</h4>
            </div>
        </div>
        <div class="header-hijo-superior-derecha">
            <h2>Cristian Ezequiel Villafañe</h2>
            <button type="submit">SALIR</button>
        </div>
    </div>
    <div class="header-hijo-inferior">   
        <nav class="header-hijo-inferior-navegacion">
            <ul class="header-hijo-inferior-navegacion-listado">
                <li>Incidentes</li>
                <li>Equipamiento</li>
                <li>Guía Telefónica</li>
            </ul>
        </nav>
    </div>   
    <div class="hamburgueza-contenedor">
        <i class="fa-solid fa-bars hamburgueza"></i>    
    </div>
</header>